<label for="UserName">Name:</label>
<input type="text" id="name" name="name"><br>
<label for="comment" id="comment">Comment:</label><br>
<textarea  id="usercomment" class="comment" name="comment" rows = "5" cols = "20">Type Here.
</textarea><br>
<input type="submit" value="Send." onclick="SubmitComment();">

<div id="commentbox"></div>
