<%- include('partials/navbar.ejs') %>
<%- include('partials/header.ejs') %>
<!DOCTYPE html>
<html>
    <body>
            <h3>Login</h3>

            <div class="container">
                <form action="/login" method="POST">
                <div>
                    <label ></label>Username</label>
                    <input type="text" id="username" placeholder="Username" name="username" >
                </div>
                <div>
                    <label >Password</label>
                    <input type="password" id="Password" name="password">
                </div>
                
                <input type="submit" value="Submit">
            </form>
            </div>
            
    </body>
</html>
